
.footer-section {
    padding: 20px 5%; 
    display: flex;
    justify-content: center;
  }
  .footer-section div {
    width: 300px;
  }
  .footer-section div h4 {
    color: rgb(59, 59, 59);
  }
  .footer-section div .footer-item {
    color: rgb(65, 152, 252);
    font-size: 15px;
  }
  .footer-section div p {
    line-height: 20px;
    font-size: 15px;
    color: rgb(65, 65, 65);
  }
  
  .copyright {  
    margin-bottom: 10px;
    text-align: center; 
    margin: 0;
  }

@media (max-width: 750px) { 
    .footer-section {
      flex-direction: column;
      align-items: center;
      text-align: center; 
      padding-bottom: 0px;
    }

  .footer-section div {
    margin-bottom: 20px;
  }
  }