.product-card {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    max-width: 1200px;
}

@media (min-width : 700px){
    .product-card {
        grid-template-columns: 1fr 1fr 1fr; 
    }   
}

@media (min-width : 1000px){
    .product-card {
        grid-template-columns: 1fr 1fr 1fr 1fr; 
    }   
}